SERVER_TYPE="http"
SERVER_PORT="8080"
SERVER_URL="https://evolution-poddin.up.railway.app"
SENTRY_DSN=""
TELEMETRY_ENABLED="false"
CORS_ORIGIN="*"
CORS_METHODS="GET,POST,PUT,DELETE"
CORS_CREDENTIALS="true"
LOG_LEVEL="ERROR,LOG"
LOG_COLOR="true"
LOG_BAILEYS="error"
EVENT_EMITTER_MAX_LISTENERS="50"
DEL_INSTANCE="false"
DATABASE_ENABLED="true"
DATABASE_PROVIDER="postgresql"
DATABASE_CONNECTION_URI="postgresql://postgres:nWVOHWwOsvcFSDRzmvRIcUVLfwpGHWKR@postgres.railway.internal:5432/railway"
DATABASE_CONNECTION_CLIENT_NAME="evolution_exchange"
DATABASE_SAVE_DATA_INSTANCE="true"
DATABASE_SAVE_DATA_NEW_MESSAGE="true"
DATABASE_SAVE_MESSAGE_UPDATE="false"
DATABASE_SAVE_DATA_CONTACTS="false"
DATABASE_SAVE_DATA_CHATS="false"
DATABASE_SAVE_DATA_LABELS="false"
DATABASE_SAVE_DATA_HISTORIC="false"
DATABASE_SAVE_IS_ON_WHATSAPP="false"
DATABASE_SAVE_IS_ON_WHATSAPP_DAYS="5"
DATABASE_DELETE_MESSAGE="true"
RABBITMQ_ENABLED="false"
RABBITMQ_URI="amqp://evolution-poddin.up.railway.app"
RABBITMQ_EXCHANGE_NAME="evolution"
RABBITMQ_GLOBAL_ENABLED="false"
RABBITMQ_EVENTS_APPLICATION_STARTUP="false"
RABBITMQ_EVENTS_INSTANCE_CREATE="false"
RABBITMQ_EVENTS_INSTANCE_DELETE="false"
RABBITMQ_EVENTS_QRCODE_UPDATED="false"
RABBITMQ_EVENTS_MESSAGES_SET="false"
RABBITMQ_EVENTS_MESSAGES_UPSERT="false"
RABBITMQ_EVENTS_MESSAGES_EDITED="false"
RABBITMQ_EVENTS_MESSAGES_UPDATE="false"
RABBITMQ_EVENTS_MESSAGES_DELETE="false"
RABBITMQ_EVENTS_SEND_MESSAGE="false"
RABBITMQ_EVENTS_CONTACTS_SET="false"
RABBITMQ_EVENTS_CONTACTS_UPSERT="false"
RABBITMQ_EVENTS_CONTACTS_UPDATE="false"
RABBITMQ_EVENTS_PRESENCE_UPDATE="false"
RABBITMQ_EVENTS_CHATS_SET="false"
RABBITMQ_EVENTS_CHATS_UPSERT="false"
RABBITMQ_EVENTS_CHATS_UPDATE="false"
RABBITMQ_EVENTS_CHATS_DELETE="false"
RABBITMQ_EVENTS_GROUPS_UPSERT="false"
RABBITMQ_EVENTS_GROUP_UPDATE="false"
RABBITMQ_EVENTS_GROUP_PARTICIPANTS_UPDATE="false"
RABBITMQ_EVENTS_CONNECTION_UPDATE="false"
RABBITMQ_EVENTS_REMOVE_INSTANCE="false"
RABBITMQ_EVENTS_LOGOUT_INSTANCE="false"
RABBITMQ_EVENTS_CALL="false"
RABBITMQ_EVENTS_TYPEBOT_START="false"
RABBITMQ_EVENTS_TYPEBOT_CHANGE_STATUS="false"
SQS_ENABLED="false"
SQS_ACCESS_KEY_ID=""
SQS_SECRET_ACCESS_KEY=""
SQS_ACCOUNT_ID=""
SQS_REGION=""
WEBSOCKET_ENABLED="false"
WEBSOCKET_GLOBAL_EVENTS="false"
PUSHER_ENABLED="false"
PUSHER_GLOBAL_ENABLED="false"
PUSHER_GLOBAL_APP_ID=""
PUSHER_GLOBAL_KEY=""
PUSHER_GLOBAL_SECRET=""
PUSHER_GLOBAL_CLUSTER=""
PUSHER_GLOBAL_USE_TLS="true"
PUSHER_EVENTS_APPLICATION_STARTUP="true"
PUSHER_EVENTS_QRCODE_UPDATED="true"
PUSHER_EVENTS_MESSAGES_SET="true"
PUSHER_EVENTS_MESSAGES_UPSERT="true"
PUSHER_EVENTS_MESSAGES_EDITED="true"
PUSHER_EVENTS_MESSAGES_UPDATE="true"
PUSHER_EVENTS_MESSAGES_DELETE="true"
PUSHER_EVENTS_SEND_MESSAGE="true"
PUSHER_EVENTS_CONTACTS_SET="true"
PUSHER_EVENTS_CONTACTS_UPSERT="true"
PUSHER_EVENTS_CONTACTS_UPDATE="true"
PUSHER_EVENTS_PRESENCE_UPDATE="true"
PUSHER_EVENTS_CHATS_SET="true"
PUSHER_EVENTS_CHATS_UPSERT="true"
PUSHER_EVENTS_CHATS_UPDATE="true"
PUSHER_EVENTS_CHATS_DELETE="true"
PUSHER_EVENTS_GROUPS_UPSERT="true"
PUSHER_EVENTS_GROUPS_UPDATE="true"
PUSHER_EVENTS_GROUP_PARTICIPANTS_UPDATE="true"
PUSHER_EVENTS_CONNECTION_UPDATE="true"
PUSHER_EVENTS_LABELS_EDIT="true"
PUSHER_EVENTS_LABELS_ASSOCIATION="true"
PUSHER_EVENTS_CALL="true"
PUSHER_EVENTS_TYPEBOT_START="false"
PUSHER_EVENTS_TYPEBOT_CHANGE_STATUS="false"
WA_BUSINESS_TOKEN_WEBHOOK="evolution"
WA_BUSINESS_URL="https://graph.facebook.com"
WA_BUSINESS_VERSION="v20.0"
WA_BUSINESS_LANGUAGE="en_US"
WEBHOOK_GLOBAL_ENABLED="true"
WEBHOOK_GLOBAL_URL="https://poddinapi-vukkm.ondigitalocean.app/whatsapp-webhook"
WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS="false"
WEBHOOK_EVENTS_APPLICATION_STARTUP="false"
WEBHOOK_EVENTS_QRCODE_UPDATED="true"
WEBHOOK_EVENTS_MESSAGES_SET="false"
WEBHOOK_EVENTS_MESSAGES_UPSERT="true"
WEBHOOK_EVENTS_MESSAGES_EDITED="false"
WEBHOOK_EVENTS_MESSAGES_UPDATE="false"
WEBHOOK_EVENTS_MESSAGES_DELETE="false"
WEBHOOK_EVENTS_SEND_MESSAGE="false"
WEBHOOK_EVENTS_CONTACTS_SET="false"
WEBHOOK_EVENTS_CONTACTS_UPSERT="false"
WEBHOOK_EVENTS_CONTACTS_UPDATE="false"
WEBHOOK_EVENTS_PRESENCE_UPDATE="false"
WEBHOOK_EVENTS_CHATS_SET="false"
WEBHOOK_EVENTS_CHATS_UPSERT="false"
WEBHOOK_EVENTS_CHATS_UPDATE="false"
WEBHOOK_EVENTS_CHATS_DELETE="false"
WEBHOOK_EVENTS_GROUPS_UPSERT="false"
WEBHOOK_EVENTS_GROUPS_UPDATE="false"
WEBHOOK_EVENTS_GROUP_PARTICIPANTS_UPDATE="false"
WEBHOOK_EVENTS_CONNECTION_UPDATE="false"
WEBHOOK_EVENTS_REMOVE_INSTANCE="true"
WEBHOOK_EVENTS_LOGOUT_INSTANCE="true"
WEBHOOK_EVENTS_LABELS_EDIT="false"
WEBHOOK_EVENTS_LABELS_ASSOCIATION="false"
WEBHOOK_EVENTS_CALL="false"
WEBHOOK_EVENTS_TYPEBOT_START="false"
WEBHOOK_EVENTS_TYPEBOT_CHANGE_STATUS="false"
WEBHOOK_EVENTS_ERRORS="true"
WEBHOOK_EVENTS_ERRORS_WEBHOOK="https://us-central1-poddin-a96aa.cloudfunctions.net/logs"
CONFIG_SESSION_PHONE_CLIENT="PoddinBot"
CONFIG_SESSION_PHONE_NAME="Chrome"
CONFIG_SESSION_PHONE_VERSION="2.3000.1023204200"
QRCODE_LIMIT="5"
QRCODE_COLOR="#175197"
TYPEBOT_ENABLED="false"
TYPEBOT_API_VERSION="latest"
CHATWOOT_ENABLED="false"
CHATWOOT_MESSAGE_READ="true"
CHATWOOT_MESSAGE_DELETE="true"
CHATWOOT_BOT_CONTACT="true"
CHATWOOT_IMPORT_DATABASE_CONNECTION_URI="postgresql://admin:root@evolution-poddin.up.railway.app:5432/chatwoot?sslmode=disable"
CHATWOOT_IMPORT_PLACEHOLDER_MEDIA_MESSAGE="true"
OPENAI_ENABLED="false"
DIFY_ENABLED="false"
CACHE_REDIS_ENABLED="false"
CACHE_REDIS_URI="redis://evolution-poddin.up.railway.app:6379/6"
CACHE_REDIS_TTL="604800"
CACHE_REDIS_PREFIX_KEY="evolution"
CACHE_REDIS_SAVE_INSTANCES="false"
CACHE_LOCAL_ENABLED="true"
S3_ENABLED="false"
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET="evolution"
S3_PORT="443"
S3_ENDPOINT="s3.domain.com"
S3_REGION="eu-west-3"
S3_USE_SSL="true"
AUTHENTICATION_API_KEY="429683C4C977415CAAFCCE10F7D57E11"
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES="false"
LANGUAGE="en"