# compiled output
/dist
/node_modules

/Docker/.env

.vscode

# Logs
logs/**.json
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

/docker-compose-data
/docker-data

docker-compose.yaml

# Package
/yarn.lock
/package-lock.json

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.nova/*

# Prisma
/prisma/migrations

# Project related
/instances/*
!/instances/.gitkeep
/test/
/src/env.yml
/store
*.env

/temp/*

.DS_Store
*.DS_Store
.tool-versions
